@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Mohave:ital,wght@1,300&family=Rethink+Sans:wght@400;500&family=Turret+Road:wght@300&display=swap');

/* font families 

font-family: 'Rethink Sans', sans-serif;


*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
}

*::selection {
  background: violet;
  color: white;
}

body {
  background: #f5f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Turret Road', sans-serif;
}

button,
label,
input,
p,
a,
textarea,
span {
  font-family: 'Fauna One', serif;
  text-decoration: none;
}

.log-text {
  font-family: 'Mohave', sans-serif;
  color: #6e6e6e;
}

.container {
  width: 93%;
  margin: 0px auto;
}

.webheader {
  width: 100%;
  height: auto;
  /* border: 1px solid violet; */
  background: white;
  position: sticky;
  top: 0px;
  z-index: 333333;
}

header .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo img {
  width: 120px;
  height: 50px;
}

header .container .button-toggle-navbar {
  font-size: 2rem;
  cursor: pointer;
  /* display: none; */
}



header .container nav ul {
  display: flex;
  list-style: none;
}

header .container nav ul li {
  margin: 5px .3rem;
}

header .container nav ul li a {
  width: 100%;
  padding: 6px;
  color: black;
  border-radius: 4px;
  display: block;
}

header .container nav ul li a:hover {
  background: violet;
  color: white;
}




/* main  */
main {
  min-height: 80vh;
}

main .intro,
main section {
  background: white;
  margin: 5px auto;
}


.intro .container {
  padding: 50px 20px;
}

/* signup form */
.intro .container h1 {
  margin: .6rem 0px;
}

.intro .container p {
  padding: 10px;
  line-height: 1.3;
  letter-spacing: 2px;
  color: #242323;
}

.form {
  margin-top: .5rem;
  padding: 20px;
  box-shadow: 0px 0px 20px #af5daf60;
}

.form-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.form-area input,
.contactusform form input,
.contactusform form textarea,
.child-input input,
.searchbar input,
.parent-inputs textarea {
  width: 250px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid violet;
  outline: none;
  font-size: 17px;
  color: violet;
}

.form-area input::placeholder,
.contactusform form input::placeholder,
.contactusform form textarea::placeholder,
.searchbar input::placeholder {
  color: #974e97;
}

.form-area input:hover,
.contactusform form input:hover,
.contactusform form textarea:hover,
.searchbar input:hover {
  border-color: darkviolet;
}

.form-area input:focus,
.contactusform form input:focus,
.contactusform form textarea:focus,
.searchbar input:focus {
  box-shadow: 0px 0px 7px violet;
}

.form-area button,
.contactusform button,
.main-header .container .actions-katha button,
.katha-block button,
.filter-container button,
.form-createkatha-button,
.uploadBtn {
  padding: 10px;
  background: none;
  color: #974e97;
  border-radius: 4px;
  border: 1px solid violet;
  font-size: 17px;
  cursor: pointer;
}

.form-area button:hover,
.contactusform button:hover,
.main-header .container .actions-katha button:hover,
.filter-container button:hover,
.katha-block button:hover,
.uploadBtn:hover,
.form-createkatha-button:hover {
  background: violet;
  color: black;
}

.form-area button:active,
.contactusform button:active,
.main-header .container .actions-katha button:active,
.filter-container button:active,
.katha-block button:active,
.uploadBtn:active,
.form-createkatha-button:active {
  transform: scale(.9);
}



/* contact us page  */
.team-members {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.team-members .member-profile {
  width: 250px;
  height: auto;
  padding: 8px;
  border: 1px solid darkgray;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 13px darkgray;
}

.team-members .member-profile img {
  width: 100%;
  border-radius: 6px;
}

.team-members .member-profile h3 {
  margin-top: 1.5rem;
  /* margin-top: .6rem; */
}

.team-members .member-profile h4 {
  color: darkviolet;
}

.member-profile .links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  gap: 7px;
  height: 30px;
  font-size: 1.5rem;
  height: 0px;
  overflow: hidden;
}

.member-profile .links a {
  color: black;
}

.member-profile:hover.member-profile .links {
  height: 35px;
  margin-top: .5rem;
}

.member-profile:hover.member-profile .links a {
  transform: rotate(360deg);
}





/* pages and links  */
.pages_links {
  margin-top: .7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.page_link {
  width: auto;
  height: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: -20px -16px 50px darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_link a {
  font-size: 4rem;
  color: blue;
  cursor: pointer;
}

.page_link:hover {
  transform: scale(1.1);
}

.page_link:active {
  transform: scale(.9);
}

.contactusform form {
  width: 100%;
  margin-top: 1rem;
}

.contactusform form .parent-inputs,
.parent-inputs {
  width: 100%;
  margin: .7rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5rem;
}

.contactusform form .parent-inputs .child-input,
.child-input {
  width: 45%;
  /* border: 1px solid black; */
}

.contactusform form .parent-inputs .child-input input,
.child-input input,
.parent-inputs textarea {
  width: 100% !important;
  border: 2px dotted #974e97 !important;
}


.map iframe {
  width: 100% !important;
  height: 300px;
}


/* main page  */
.main-header {
  margin: .5rem auto;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.main-header .container .actions-katha button {
  margin: 3px 5px;
  background: violet;
  color: white;
}

.searchbar {
  margin: .5rem auto;
}

.searchbar input {
  width: 100%;
  color: darkviolet;
}

.filters-kathas {
  margin: .5rem auto;
  padding-top: .5rem;
}


.filters-kathas .container .filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.filter-container span {
  font-size: 14px;
  /* margin: .5rem 0px; */
  display: block;
}

.filter-container button {
  margin: .5rem;
}

.filter-container select {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: 1px solid violet;
  color: darkviolet;
  border-radius: 3px;
  cursor: pointer;
}


.katha-block {
  width: 100%;
  border-bottom: 2px dotted violet;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}


.katha-block .serial-no {
  width: 9%;
  border-right: 2px dotted darkviolet;
}

.katha-1 * {
  border: 1px dotted violet !important;
  font-weight: bold;
  text-transform: capitalize;
}

.katha-block {
  text-wrap: wrap;
  word-wrap: break-word;
}

.katha-block .fullname-k-block,
.katha-block .cnic-k-block,
.area-block-katha {
  width: 25%;
}



.main-katha-main {
  overflow: hidden;
  position: relative;
}

.katha-dailog {
  position: absolute;
  background: #ebe9e9f1;
  border-radius: 20px;
  box-shadow: 0px 0px 4 darkgray;
  inset: 10px;
  transform: translateY(-2000vh);
}

.katha-dailog .close-create-katha {
  float: right;
  margin: 1rem;
  font-size: 2rem;
  background: white;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 12 px darkgray;
  font-weight: bolder;
  cursor: pointer;
}

.katha-dailog .close-create-katha:hover {
  background: darkviolet;
  color: white;
}

.katha-dailog .close-create-katha:active {
  transform: scale(.9);
}

.katha-container {
  padding: 30px 10px;
}


.upload-area-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.upload-area-container .upload-block {
  width: 150px;
  max-height: 200px;
  border: 3px dotted violet;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.upload-area-container .upload-block img {
  width: 100%;
  height: auto;
  position: relative;
}

.upload-input {
  width: 100%;
  height: 100%;
  background: #413f3fa2;
  position: absolute;
  inset: 0px;
  transform: translateY(-300px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-area-container .upload-block:hover .upload-input {
  transform: translateY(0px);
}

.upload-input input {
  visibility: hidden;
}

.upload-input .uploadBtn {
  background: violet;
  color: white;
}


.form-inputs-container {
  padding: 20px 10px;
  width: 100%;
  display: block;
  margin-top: 1rem;
}

.form-inputs-container .child-input {
  width: 250px !important;
}

.form-createkatha-button{
  margin: .6rem 1rem;
}
.resetBtn{
  background: red !important;
  color: white !important;
}





footer {
  background: white;
}

footer .container {
  padding: 10px;
}

footer .container p {
  margin: 1rem 0px;
}


@media screen and (max-width:700px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width:600px) {
  header .container .logo img {
    width: 150px;
    height: 40px;
  }

  header .container {
    flex-direction: column;
    padding: 8px;
    width: 98%;
  }

  header .container .nav-top {
    width: 100%;
  }

  header .container nav {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }


  header .container nav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
  }

  header .container nav ul li {
    width: 100%;
    text-align: center;
    margin: 1rem 0px;
    border-bottom: 1px solid violet;
  }

  .intro .container {
    padding: 20px 10px;
  }

  .filter-container {
    flex-direction: column;
    gap: 10px;
  }

  .filter-container .by-selection,
  .by-date {
    width: 100%;
  }

  .filter-container select {
    width: 100%;
  }

}


@media screen and (max-width:450px) {
  html {
    font-size: 85%;
  }

  .parent-inputs {
    flex-direction: column !important;
  }

  .parent-inputs .child-input {
    width: 100% !important;
  }

  .katha-block {
    flex-wrap: wrap;
  }
}