@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Mohave:ital,wght@1,300&family=Rethink+Sans:wght@400;500&family=Turret+Road:wght@300&display=swap');

/* font families 

font-family: 'Turret Road', sans-serif;


*/


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rethink Sans', sans-serif;
}

button,
label,
input,
p {
  font-family: 'Fauna One', serif;
}

.log-text {
  font-family: 'Mohave', sans-serif;
  color: #706f6f;
}

.container {
  width: 93%;
  margin: 0px auto;
}

header {
  border-bottom: 3px solid violet;
  height: 50px;
  overflow: hidden;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo img {
  width: 200px;
  height: 60px;
}