@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Mohave:ital,wght@1,300&family=Rethink+Sans:wght@400;500&family=Turret+Road:wght@300&display=swap');

/* font families 

font-family: 'Turret Road', sans-serif;


*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
}

body{
  background: #f5f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rethink Sans', sans-serif;
}

button,
label,
input,
p,
a {
  font-family: 'Fauna One', serif;
  text-decoration: none;
}

.log-text {
  font-family: 'Mohave', sans-serif;
  color: #6e6e6e;
}

.container {
  width: 93%;
  margin: 0px auto;
}

header {
  width: 100%;
  height: auto;
  /* border: 1px solid violet; */
  background: white;
}

header .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo img {
  width: 200px;
  height: 50px;
}

header .container .button-toggle-navbar {
  font-size: 2rem;
  cursor: pointer;
  /* display: none; */
}



header .container nav ul {
  display: flex;
  list-style: none;
}

header .container nav ul li {
  margin: 5px .3rem;
}

header .container nav ul li a {
  width: 100%;
  padding: 6px;
  color: black;
  border-radius: 4px;
  display: block;
}

header .container nav ul li a:hover {
  background: violet;
  color: white;
}













@media screen and (max-width:700px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width:600px) {
  header .container .logo img {
    width: 150px;
    height: 40px;
  }

  header .container {
    flex-direction: column;
    padding: 8px;
    width: 98%;
  }

  header .container .nav-top {
    width: 100%;
  }

  header .container nav {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }


  header .container nav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
  }

  header .container nav ul li {
    width: 100%;
    text-align: center;
    margin: 1rem 0px;
    border-bottom: 1px solid violet;
  }


}